@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 1100%;
  background: #393b3d;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526); }

/*--------------animaciones--------------------*/
/*---------------------------------------------------Header-------------------------------------*/
.contenedorPadre {
  /*--------------contenedor header--------------*/
  /*---------------llave de contenedortituloPrincipal---*/ }
  .contenedorPadre .contenedorPadre__Header--principal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .contenedorPadre .contenedorPadre__Header__textoPrincipal--uppercase {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /*-------llave de contenedor textoprincipal--uppercase--------------*/ }
    .contenedorPadre .contenedorPadre__Header__textoPrincipal--uppercase .contenedorTituloPrincipal {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center; }
      .contenedorPadre .contenedorPadre__Header__textoPrincipal--uppercase .contenedorTituloPrincipal .TituloPrincipalNews {
        text-align: center; }
  .contenedorPadre .contenedorSomosComunidad {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%; }
  .contenedorPadre .contenedorGrillaFav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px; }
  .contenedorPadre .radioFav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #393b3d; }
    .contenedorPadre .radioFav .contenedorCaratula {
      background: url(../imagenes/elClubDelMoro.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
    .contenedorPadre .radioFav .contenedorTituloStacion {
      display: grid;
      grid-template-rows: 1fr 2fr; }
  .contenedorPadre .podcastFav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #393b3d; }
    .contenedorPadre .podcastFav .contenedorCaratula {
      background: url(../imagenes/elClubDelMoro.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
    .contenedorPadre .podcastFav .contenedorTituloStacion {
      display: grid;
      grid-template-rows: 1fr 2fr; }
  .contenedorPadre .eventoDelMes {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #393b3d; }
  .contenedorPadre .contenedorCaratula {
    background: url(../imagenes/elClubDelMoro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  .contenedorPadre .contenedorTituloStacion {
    display: grid;
    grid-template-rows: 1fr 2fr; }
  .contenedorPadre .contenedorIcono {
    display: flex;
    justify-content: center;
    align-items: center; }

/*----------esta es llave de contenedorpadre-------*/
/*-----------------------main comunidad-----------------------------------------------*/
.contenedorMain {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center; }

.contenedorMain__comunidad--blanco {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; }

.contenedorMain__comunidad__collage--mobil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  grid-auto-flow: dense;
  gap: 10px; }

.imgComunidadRadio {
  background: url(../imagenes/equipo03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  text-align: center;
  overflow: hidden;
  position: relative;
  object-fit: cover; }

.imgComunidadRadio .hover {
  width: 0%;
  height: 80vh;
  background-color: rgba(57, 59, 61, 0.383);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.imgComunidadRadio:hover .hover {
  width: 100%; }

.imgComunidadPodcast {
  background: url(../imagenes/equipo02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  text-align: center;
  overflow: hidden;
  position: relative;
  object-fit: cover; }

.imgComunidadPodcast .hover {
  width: 0%;
  height: 80vh;
  background-color: rgba(255, 17, 156, 0.301);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.imgComunidadPodcast:hover .hover {
  width: 100%; }

.imgComunidadTelevision {
  background: url(../imagenes/equipo04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  text-align: center;
  overflow: hidden;
  position: relative;
  object-fit: cover; }

.imgComunidadTelevision .hover {
  width: 0%;
  height: 80vh;
  background-color: rgba(255, 251, 17, 0.301);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.hover h3 {
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase; }

.imgComunidadTelevision:hover .hover {
  width: 100%; }

/*-----------------------index------------------*/
.contenedorMain_comunidad__tituloComunidad--secundario {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  height: 500px; }

.contenedorTitulosComunidad {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.tituloChico {
  margin-right: 450px;
  background-color: purple; }

span {
  color: yellow;
  text-transform: uppercase; }

/*---------------------------------------------------NovedadesComunidad----------------------------*/
.contenedorMain__novedades--centrado {
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }
  .contenedorMain__novedades--centrado .contenedorMain__novedades__TituloNovedades {
    margin: 20px;
    margin-left: 30px;
    height: 200px; }
  .contenedorMain__novedades--centrado .ParrafoCard {
    height: 100px;
    width: 85%;
    margin-top: 20px;
    text-align: justify; }
  .contenedorMain__novedades--centrado .btnSecundario {
    margin-top: 30px; }
  .contenedorMain__novedades--centrado .cardEspectactulo {
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #393b3d; }
    .contenedorMain__novedades--centrado .cardEspectactulo .imagenCard {
      background: url(../imagenes/novedades.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150%;
      height: 350px;
      width: 100%;
      border-top: 40px; }
  .contenedorMain__novedades--centrado .cardMundoCine {
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #393b3d; }
    .contenedorMain__novedades--centrado .cardMundoCine .imagenCard {
      background: url(../imagenes/novedades.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150%;
      height: 350px;
      width: 100%;
      border-top: 40px; }
  .contenedorMain__novedades--centrado .cardCultura {
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #393b3d; }
    .contenedorMain__novedades--centrado .cardCultura .imagenCard {
      background: url(../imagenes/novedades.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150%;
      height: 350px;
      width: 100%;
      border-top: 40px; }

/*---------------llave del contenedorMain_novedades-----------------------*/
/*-----------------ContenedorNewsletter---------------*/
.contenedorMain__newsletter {
  display: grid;
  gap: 10px;
  margin-top: 40px; }

.contenedorNew {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

.contenedorTituloNewsLetter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.contenedorNewsContenido {
  display: grid;
  gap: 10px; }
  .contenedorNewsContenido .contenedorCultura {
    background: url(../imagenes/somosComunidad.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    position: relative;
    object-fit: cover; }
  .contenedorNewsContenido .contenedorCultura .hoverNews {
    width: 0%;
    height: 80vh;
    background: url(../imagenes/comunidadtelevisión.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .contenedorNewsContenido .contenedorCultura:hover .hoverNews {
    width: 100%; }
  .contenedorNewsContenido .contenedorSocial {
    background: url(../imagenes/articuloestación.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    position: relative;
    object-fit: cover; }
  .contenedorNewsContenido .contenedorSocial .hoverNews {
    width: 0%;
    height: 80vh;
    background: url(../imagenes/comunidadSomos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .contenedorNewsContenido .contenedorSocial:hover .hoverNews {
    width: 100%; }
  .contenedorNewsContenido .contenedorEquipoSomos {
    background: url(../imagenes/comunidadSomos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    position: relative;
    object-fit: cover; }
  .contenedorNewsContenido .contenedorEquipoSomos .hoverNews {
    width: 0%;
    height: 80vh;
    background: url(../imagenes/Podcast_Cover_Artwork.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .contenedorNewsContenido .contenedorEquipoSomos:hover .hoverNews {
    width: 100%; }

/*--------------descarga----------------*/
footer {
  display: flex;
  align-items: center;
  margin-top: 30px; }
  footer .logFooter {
    height: 170px;
    flex: 2 1 auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .logFooter .logoFooter {
      width: 90px; }
  footer .menuFooter {
    height: 170px;
    flex: 1 1 auto; }
  footer .redesFooter {
    height: 170px;
    display: flex;
    flex: 2 1 auto;
    align-items: center;
    justify-content: center; }
    footer .redesFooter .logosRedesFooter .enlaceRedes {
      color: white; }

/*-----------------------comunidadMain----------------------------------*/
@media only screen and (min-width: 1201px) {
  .contenedorPadre .container-fluid {
    height: 100px; }
  .contenedorPadre .navbar {
    margin-left: 50px; }
  .contenedorPadre .d-flex {
    margin-right: 50px; }
  .contenedorPadre .contenedorPadre__Header--principal {
    height: 1600px;
    display: flex;
    flex-flow: column nowrap; }
  .contenedorNaverHeader {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(64, 66, 68, 0.555), rgba(34, 36, 37, 0.555)), url(../imagenes/fondoHeaderTitulo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  h1 {
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h2 {
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h3 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h4 {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: white; }
  .TituloComunidad {
    width: 80%; }
  .contenedorPadre__Header--principal {
    height: 1700px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .contenedorPadre__Header__textoPrincipal--uppercase {
    height: 550px;
    width: 100%;
    /*margin-top:250px;*/ }
  .contenedorTituloPrincipal {
    height: 300px;
    width: 60%; }
  .contenedorSomosComunidad {
    height: 1100px; }
  .contenedorGrillaFav {
    gap: 20px;
    width: 60%; }
  .radioFav {
    gap: 10px; }
    .radioFav .contenedorCaratula {
      background-size: 100%; }
    .radioFav .contenedorTituloFavRadio .favDelmes {
      margin-top: 40px;
      margin-left: 12px; }
    .radioFav .favRadio .favRadioTitulo {
      margin-left: 15px; }
  .podcastFav {
    gap: 10px;
    background-color: #393b3d; }
    .podcastFav .contenedorCaratula {
      background: url(../imagenes/elClubDelMoro.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
    .podcastFav .contenedorTituloStacion {
      gap: 5px; }
      .podcastFav .contenedorTituloStacion .contenedorTituloFavRadio .favDelmes {
        margin-top: 40px;
        margin-left: 12px; }
      .podcastFav .contenedorTituloStacion .favRadio .favRadioTitulo {
        margin-left: 15px; }
  .eventoDelMes {
    gap: 10px; }
  .contenedorCaratula {
    background: url(../imagenes/elClubDelMoro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  .contenedorTituloStacion {
    gap: 5px; }
    .contenedorTituloStacion .contenedorTituloFavRadio .favDelmes {
      margin-top: 40px;
      margin-left: 12px; }
    .contenedorTituloStacion .favRadio .favRadioTitulo {
      margin-left: 15px; }
  .contenedorMain__novedades__TituloNovedades {
    width: 50%; }
  /*---------------------NOVEDADES------------------*/
  .contenedorCard {
    width: 50%;
    height: 500px;
    display: flex;
    margin-top: 30px;
    flex-flow: row nowrap; }
  .cardMundoCine {
    margin-left: 30px;
    margin-right: 30px; }
  /*------------------NewsLetter----------------*/
  .contenedorMain__newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    gap: 10px; }
  .contenedorNew {
    height: 500px; }
    .contenedorNew .newsLetterTitulo {
      width: 70%; }
  .contenedorNewsContenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 500px; }
  .footer {
    display: flex;
    flex-flow: row nowrap;
    height: 250px; } }

/*----------------------llaveMAIN------------------------*/
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .contenedorPadre .contenedorPadre__Header--principal {
    height: 1400px;
    display: flex;
    flex-flow: column nowrap; }
  .contenedorNaverHeader {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 500px;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(64, 66, 68, 0.555), rgba(34, 36, 37, 0.555)), url(../imagenes/fondoHeaderTitulo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  h1 {
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h2 {
    font-size: 2.5em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h3 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h4 {
    font-size: 1em;
    color: white; }
  .contenedorPadre__Header__textoPrincipal--uppercase {
    margin-top: 50px; }
  .TituloPrincipalNews {
    width: 60%; }
  .contenedorSomosComunidad {
    margin-top: 70px; }
  .contenedorGrillaFav {
    gap: 20px;
    width: 90%; }
  .radioFav {
    gap: 10px; }
    .radioFav .contenedorCaratula {
      background-size: 100%; }
    .radioFav .contenedorTituloFavRadio .favDelmes {
      margin-left: 5px; }
    .radioFav .favRadio {
      color: white; }
      .radioFav .favRadio .favRadioTitulo {
        margin-left: 15px; }
  .podcastFav {
    gap: 10px;
    background-color: #393b3d; }
    .podcastFav .contenedorCaratula {
      background: url(../imagenes/elClubDelMoro.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
    .podcastFav .contenedorTituloStacion {
      gap: 5px; }
      .podcastFav .contenedorTituloStacion .contenedorTituloFavRadio .favDelmes {
        margin-top: 40px;
        margin-left: 12px; }
      .podcastFav .contenedorTituloStacion .favRadio .favRadioTitulo {
        margin-left: 15px; }
  .eventoDelMes {
    gap: 10px; }
  .contenedorCaratula {
    background: url(../imagenes/elClubDelMoro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  .contenedorTituloStacion {
    gap: 5px; }
    .contenedorTituloStacion .contenedorTituloFavRadio .favDelmes {
      margin-top: 40px;
      margin-left: 12px; }
    .contenedorTituloStacion .favRadio .favRadioTitulo {
      margin-left: 15px; }
  .contenedorMain__comunidad--blanco {
    display: flex;
    flex-flow: column nowrap;
    height: 800px; }
  .contenedorMain_comunidad__tituloComunidad--secundario {
    margin-top: 20px;
    height: 400px; }
  .contenedorMain__novedades--centrado {
    margin-top: 100px; }
  .contenedorMain__novedades__TituloNovedades {
    width: 75%; }
  .contenedorCard {
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 40%; }
  .cardEspectactulo {
    margin-top: 40px; }
  .cardMundoCine {
    margin-top: 40px; }
  .cardCultura {
    margin-top: 40px; }
  .contenedorMain__newsletter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 800px;
    gap: 10px; }
  .contenedorNew {
    height: 400px; }
  .contenedorTituloNewsLetter {
    width: 60%; }
  .newsLetterTitulo {
    text-align: center; }
  .contenedorNewsContenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px; }
  .footer {
    display: flex;
    flex-flow: row nowrap;
    height: 250px; } }

/*padre*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h2 {
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h3 {
    font-size: 1.3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h4 {
    font-size: 1.1em;
    color: white; }
  .contenedorPadre .contenedorPadre__Header--principal {
    height: 750px;
    display: flex;
    flex-flow: column nowrap; }
  .contenedorPadre__Header__textoPrincipal--uppercase {
    margin-top: 30px; }
    .contenedorPadre__Header__textoPrincipal--uppercase .contenedorTituloPrincipal {
      margin-top: 30px; }
  .contenedorTituloPrincipal {
    margin-bottom: 50px; }
  .contenedorGrillaFav {
    gap: 10px; }
  .contenedorTituloStacion {
    margin-left: 15px; }
  .contenedorMain {
    margin-top: 40px; }
  .contenedorMain__comunidad--blanco {
    display: flex;
    flex-flow: column nowrap; }
    .contenedorMain__comunidad--blanco .contenedorMain_comunidad__tituloComunidad--secundario {
      height: 300px; }
      .contenedorMain__comunidad--blanco .contenedorMain_comunidad__tituloComunidad--secundario .contenedorTitulosComunidad {
        height: 300px;
        width: 75%; }
  .contenedorMain__novedades--centrado {
    margin-top: 50px; }
  .contenedorMain__novedades__TituloNovedades {
    width: 75%; }
  .contenedorCard {
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 70%; }
  .cardEspectactulo {
    margin-top: 10px; }
  .cardMundoCine {
    margin-top: 40px; }
  .cardCultura {
    margin-top: 40px; }
  .contenedorMain__newsletter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 600px;
    gap: 10px; }
  .contenedorNew {
    height: 300px; }
  .contenedorTituloNewsLetter {
    width: 80%; }
  .newsLetterTitulo {
    text-align: center; }
  .contenedorNewsContenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px; }
  .footer {
    display: flex;
    flex-flow: column nowrap;
    height: 450px;
    align-items: center;
    margin-top: 60px; }
  .contenedorInput {
    text-align: center; }
    .contenedorInput .inpuyEmail {
      border-radius: 20px; }
    .contenedorInput .buttonNews {
      background-color: pink;
      padding: 10px 30px; } }

/*-------------------------ENLACES A-------------------------------*/
/*-----------------------BtnPrincipal tablet y escritorio----------------------------*/
a {
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

.contenedorTituloPrincipal__btnPrincipal--azul {
  margin-top: 20px; }
  .contenedorTituloPrincipal__btnPrincipal--azul .btnPrincipal {
    text-decoration: none;
    color: #393b3d;
    font-size: 14px;
    background-color: yellow;
    padding: 10px 60px;
    border-radius: 20px; }
  .contenedorTituloPrincipal__btnPrincipal--azul .btnPrincipal:hover {
    background-color: #393b3d;
    color: white; }

.logo {
  width: 100px; }

.play {
  width: 100px; }

.play:hover {
  background-color: yellow;
  border-radius: 50px; }

.logoFooter {
  width: 90px; }

/*------------------------BTN SECUNDARIO Tablet y escritorio----------------------------*/
.btnSecundarioComunidades {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.btnSecundarioNovedades {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.btnNovedades {
  text-decoration: none;
  color: #393b3d;
  font-size: 16px;
  background-color: #e9e8e8; }

.btnNovedades:hover {
  background-color: yellow;
  color: #393b3d; }

.btnSecundario {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.btnComunidad {
  text-decoration: none;
  color: white;
  border: solid white;
  font-size: 16px;
  border-style: solid; }

.btnComunidades {
  text-decoration: none;
  color: #393b3d;
  background-color: yellow;
  font-size: 16px;
  border-radius: 20px; }

.btnComunidades:hover {
  background-color: white;
  color: #393b3d;
  border: none; }

.btnComunidad:hover {
  background-color: yellow;
  color: #393b3d;
  border: none; }

.btnDescarga {
  text-decoration: none;
  color: white;
  font-size: 14px;
  border: white 1.5;
  border-style: solid; }

.btnDescarga:hover {
  background-color: yellow;
  border: yellow;
  color: #393b3d; }

.btnEventos {
  text-decoration: none;
  color: #393b3d;
  font-size: 14px;
  background-color: white;
  padding: 10px 60px; }

.btnEventos:hover {
  background-color: yellow;
  color: #393b3d; }

.NewsTitulo {
  color: white; }

.tituloChicoNovedad {
  color: white;
  margin-right: 170px; }

/*------navAfter-----*/
.nav-item {
  position: relative;
  margin-right: 25px; }

.nav-item a::after {
  content: "";
  background-color: white;
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  height: 4px;
  opacity: 0; }

.nav-item a.selected::after,
.nav-item a:hover::after {
  opacity: 1; }

/*-------------Redesfooter-------------*/
/*-------------------indicadoresGenerales ------------------*/
.ParrafoSomos {
  color: white;
  font-family: 'Lato', sans-serif; }

/*----------------------------------Imput Newsletter---------------------------------------*/
.formInput {
  background-color: red;
  display: flex;
  flex-flow: row column;
  align-items: center;
  height: 50px; }

/*----------------------------------Indicadores----------------------------------------------*/
.ParrafoCard {
  color: white;
  font-family: 'Lato', sans-serif; }

/*--------------------------------lista de footer-----------------------------------------------------*/
ul {
  list-style: none; }
  ul .listaFooter {
    margin-top: 10px;
    text-align: center;
    margin-right: 30px; }
    ul .listaFooter a {
      text-decoration: none;
      color: black; }

/*----------------------------------------HoverMenu------------------------------------------*/
.menuTexto:hover {
  background-color: yellow;
  margin-right: 10px;
  color: white; }

@media only screen and (max-width: 600px) {
  .collapse {
    background-color: #393b3d; }
  .contenedorMain_comunidad__tituloComunidad--secundario {
    background-color: palegreen;
    height: 600px; }
  .btnNovedades {
    font-size: 16px;
    padding: 16px 90px; }
  .btnComunidad {
    padding: 6px 20px;
    border-radius: 20px; }
  .btnDescarga {
    padding: 6px 20px;
    border-radius: 20px; }
  .btnEventos {
    padding: 6px 20px;
    border-radius: 20px; } }

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .collapse {
    background-color: #393b3d; }
  .btnNovedades {
    font-size: 16px;
    padding: 16px 30px; }
  .btnComunidad {
    padding: 6px 30px;
    border-radius: 20px; }
  .btnComunidades {
    font-size: 16px;
    padding: 6px 30px; }
  .btnDescarga {
    padding: 6px 30px;
    border-radius: 20px; }
  .btnEventos {
    padding: 6px 30px;
    border-radius: 20px; } }

@media only screen and (min-width: 1201px) {
  .btnNovedades {
    font-size: 16px;
    padding: 10px 60px; }
  .btnComunidad {
    font-size: 16px;
    padding: 7px 60px;
    border-radius: 20px;
    margin-top: 10px; }
  .btnComunidades {
    text-decoration: none;
    background-color: yellow;
    font-size: 16px;
    padding: 7px 60px; }
  .btnDescarga {
    padding: 10px 60px;
    border-radius: 20px; }
  .btnEventos {
    padding: 10px 60px;
    border-radius: 20px; } }

/*-----------------------------QUIENES SOMOS-----------------------------*/
.contenedorPadre__Header--Somos {
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.contenedorPadre__Header--principal {
  height: 200px; }

.casitodos-1 {
  width: 360px; }

.casitodos-2 {
  width: 720px; }

.casitodos-3 {
  width: 1080px; }

.casitodos-4 {
  width: 1440px; }

.collage {
  background: url(../imagenes/equipo02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 250px; }

.ParrafoNovedades {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.507);
  padding: 30px;
  border-radius: 20px; }

.tituloEventos {
  color: white;
  width: 60%; }

/*$parrafo:red;

.ParrafoNovedades{
@if ($parrafo == azul) {
    color: blue;
}@else{
    color:  black;
}
}
*/
/*---------------------------Descarga-------------------------------*/
.contenedorMainDescarga {
  background: url(../imagenes/NuestraApp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 40px; }
  .contenedorMainDescarga .contenedorFormularioDescaga {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(57, 59, 61, 0.575); }
    .contenedorMainDescarga .contenedorFormularioDescaga .tituloPrincipalDescarga {
      display: flex;
      flex-flow: column nowrap;
      text-align: center; }
    .contenedorMainDescarga .contenedorFormularioDescaga .parrafoDescarga {
      color: white; }

/*---------------------------NOVEDADES----------------------------------------*/
.contenedorMainNovedades {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

/*-----------------LLAVE DE ContenedorMainNovedades----------------*/
.conciertos {
  background: url(../imagenes/articuloestación.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

.entrevistas {
  background: url(../imagenes/articuloestación.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

.livestreaming {
  background: url(../imagenes/articuloestación.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

conciertos {
  background-color: rgba(255, 255, 255, 0.24);
  width: 355px; }

.mainRegistro {
  background: url(../imagenes/fondoRegistrate.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.fondoRegistrate {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 70, 70, 0.726); }

.NewsTituloRegistro {
  text-align: center; }

.contenedorRegistro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.inputRegistro {
  display: flex;
  flex-flow: column nowrap; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }

.contenedorRegistroUsuario {
  display: flex;
  align-items: center;
  justify-content: center; }

.cuenta {
  color: white;
  text-decoration: none; }

.cuenta:hover {
  color: yellow; }

@media only screen and (min-width: 1201px) {
  .contenedorMain_somos--centro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 450px;
    height: 250px;
    margin-right: 20px;
    margin-top: 40px; }
  .ParrafoSomos {
    margin-top: 20px; }
  .contenedorMainNovedades {
    height: 380px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .contenedorEventos {
    height: 350px;
    display: flex;
    flex-flow: row nowrap; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-left: 20px;
    margin-right: 20px; }
  .livestreaming {
    height: 330px; }
  /*----------------------descargaApp----------------------------*/
  .contenedorMainDescarga {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; }
  .contenedorFormularioDescaga {
    width: 45%;
    border-radius: 250px;
    height: 400px; }
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 40px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 450px;
    width: 45%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 40px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  /*-----------------Quienesomos------------*/
  .contenedorMain_somos--centro {
    padding: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 350px;
    height: 250px;
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .tituloEventos {
    color: white; }
  .contenedorMainNovedades {
    display: flex;
    height: 900px;
    flex-flow: column nowrap; }
  .contenedorEventos {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    height: 1000px;
    margin-top: 60px; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-top: 30px; }
  .livestreaming {
    height: 330px;
    margin-top: 30px; }
  /*-----------------DescargaAPP------------*/
  .contenedorMainDescarga {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; }
  .contenedorFormularioDescaga {
    width: 45%;
    border-radius: 250px;
    height: 250px;
    border-radius: 250px; }
  /*--------------------------Registro-----------------------*/
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 400px;
    width: 55%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 35px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (max-width: 600px) {
  .contenedorMain_somos--centro {
    margin-left: 10px;
    margin-right: 10px;
    height: 1100px;
    background-color: palegreen;
    display: flex;
    flex-flow: column nowrap; }
  .casitodos {
    height: 250px;
    margin-top: 20px; }
  .ParrafoSomos {
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .contenedorTituloComunidad {
    width: 70%;
    text-align: center; }
  .tituloChicoNovedad {
    margin-left: 105px; }
  .tituloEventos {
    color: white; }
  .contenedorMainNovedades {
    display: flex;
    height: 1100px;
    flex-flow: column nowrap; }
  .contenedorEventos {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    height: 1100px;
    margin-top: 40px;
    background-color: palegreen; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-top: 30px; }
  .livestreaming {
    height: 330px;
    margin-top: 30px; }
  /*-------------------descargaAPP-----------------*/
  .contenedorMainDescarga {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedorFormularioDescaga {
    width: 65%;
    border-radius: 250px;
    height: 200px;
    border-radius: 250px; }
  .mainRegistro {
    height: 350px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 300px;
    width: 75%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 20px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 150px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 70%;
    margin-top: 10px; } }

entrevistas {
  background-color: rgba(255, 255, 255, 0.24);
  width: 355px; }

.mainRegistro {
  background: url(../imagenes/fondoRegistrate.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.fondoRegistrate {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 70, 70, 0.726); }

.NewsTituloRegistro {
  text-align: center; }

.contenedorRegistro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.inputRegistro {
  display: flex;
  flex-flow: column nowrap; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }

.contenedorRegistroUsuario {
  display: flex;
  align-items: center;
  justify-content: center; }

.cuenta {
  color: white;
  text-decoration: none; }

.cuenta:hover {
  color: yellow; }

@media only screen and (min-width: 1201px) {
  .contenedorMain_somos--centro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 450px;
    height: 250px;
    margin-right: 20px;
    margin-top: 40px; }
  .ParrafoSomos {
    margin-top: 20px; }
  .contenedorMainNovedades {
    height: 380px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .contenedorEventos {
    height: 350px;
    display: flex;
    flex-flow: row nowrap; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-left: 20px;
    margin-right: 20px; }
  .livestreaming {
    height: 330px; }
  /*----------------------descargaApp----------------------------*/
  .contenedorMainDescarga {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; }
  .contenedorFormularioDescaga {
    width: 45%;
    border-radius: 250px;
    height: 400px; }
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 40px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 450px;
    width: 45%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 40px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  /*-----------------Quienesomos------------*/
  .contenedorMain_somos--centro {
    padding: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 350px;
    height: 250px;
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .tituloEventos {
    color: white; }
  .contenedorMainNovedades {
    display: flex;
    height: 900px;
    flex-flow: column nowrap; }
  .contenedorEventos {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    height: 1000px;
    margin-top: 60px; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-top: 30px; }
  .livestreaming {
    height: 330px;
    margin-top: 30px; }
  /*-----------------DescargaAPP------------*/
  .contenedorMainDescarga {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; }
  .contenedorFormularioDescaga {
    width: 45%;
    border-radius: 250px;
    height: 250px;
    border-radius: 250px; }
  /*--------------------------Registro-----------------------*/
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 400px;
    width: 55%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 35px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (max-width: 600px) {
  .contenedorMain_somos--centro {
    margin-left: 10px;
    margin-right: 10px;
    height: 1100px;
    background-color: palegreen;
    display: flex;
    flex-flow: column nowrap; }
  .casitodos {
    height: 250px;
    margin-top: 20px; }
  .ParrafoSomos {
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .contenedorTituloComunidad {
    width: 70%;
    text-align: center; }
  .tituloChicoNovedad {
    margin-left: 105px; }
  .tituloEventos {
    color: white; }
  .contenedorMainNovedades {
    display: flex;
    height: 1100px;
    flex-flow: column nowrap; }
  .contenedorEventos {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    height: 1100px;
    margin-top: 40px;
    background-color: palegreen; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-top: 30px; }
  .livestreaming {
    height: 330px;
    margin-top: 30px; }
  /*-------------------descargaAPP-----------------*/
  .contenedorMainDescarga {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedorFormularioDescaga {
    width: 65%;
    border-radius: 250px;
    height: 200px;
    border-radius: 250px; }
  .mainRegistro {
    height: 350px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 300px;
    width: 75%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 20px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 150px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 70%;
    margin-top: 10px; } }

livestreaming {
  background-color: rgba(255, 255, 255, 0.24);
  width: 355px; }

.mainRegistro {
  background: url(../imagenes/fondoRegistrate.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.fondoRegistrate {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 70, 70, 0.726); }

.NewsTituloRegistro {
  text-align: center; }

.contenedorRegistro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.inputRegistro {
  display: flex;
  flex-flow: column nowrap; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }

.contenedorRegistroUsuario {
  display: flex;
  align-items: center;
  justify-content: center; }

.cuenta {
  color: white;
  text-decoration: none; }

.cuenta:hover {
  color: yellow; }

@media only screen and (min-width: 1201px) {
  .contenedorMain_somos--centro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 450px;
    height: 250px;
    margin-right: 20px;
    margin-top: 40px; }
  .ParrafoSomos {
    margin-top: 20px; }
  .contenedorMainNovedades {
    height: 380px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .contenedorEventos {
    height: 350px;
    display: flex;
    flex-flow: row nowrap; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-left: 20px;
    margin-right: 20px; }
  .livestreaming {
    height: 330px; }
  /*----------------------descargaApp----------------------------*/
  .contenedorMainDescarga {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; }
  .contenedorFormularioDescaga {
    width: 45%;
    border-radius: 250px;
    height: 400px; }
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 40px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 450px;
    width: 45%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 40px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  /*-----------------Quienesomos------------*/
  .contenedorMain_somos--centro {
    padding: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 350px;
    height: 250px;
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .tituloEventos {
    color: white; }
  .contenedorMainNovedades {
    display: flex;
    height: 900px;
    flex-flow: column nowrap; }
  .contenedorEventos {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    height: 1000px;
    margin-top: 60px; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-top: 30px; }
  .livestreaming {
    height: 330px;
    margin-top: 30px; }
  /*-----------------DescargaAPP------------*/
  .contenedorMainDescarga {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; }
  .contenedorFormularioDescaga {
    width: 45%;
    border-radius: 250px;
    height: 250px;
    border-radius: 250px; }
  /*--------------------------Registro-----------------------*/
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 400px;
    width: 55%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 35px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (max-width: 600px) {
  .contenedorMain_somos--centro {
    margin-left: 10px;
    margin-right: 10px;
    height: 1100px;
    background-color: palegreen;
    display: flex;
    flex-flow: column nowrap; }
  .casitodos {
    height: 250px;
    margin-top: 20px; }
  .ParrafoSomos {
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .contenedorTituloComunidad {
    width: 70%;
    text-align: center; }
  .tituloChicoNovedad {
    margin-left: 105px; }
  .tituloEventos {
    color: white; }
  .contenedorMainNovedades {
    display: flex;
    height: 1100px;
    flex-flow: column nowrap; }
  .contenedorEventos {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    height: 1100px;
    margin-top: 40px;
    background-color: palegreen; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-top: 30px; }
  .livestreaming {
    height: 330px;
    margin-top: 30px; }
  /*-------------------descargaAPP-----------------*/
  .contenedorMainDescarga {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedorFormularioDescaga {
    width: 65%;
    border-radius: 250px;
    height: 200px;
    border-radius: 250px; }
  .mainRegistro {
    height: 350px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 300px;
    width: 75%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 20px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 150px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 70%;
    margin-top: 10px; } }

/*----------------Registrate ---------------*/
.contenedorPadre__Header--Somos {
  display: flex;
  flex-flow: column nowrap; }

.contenedorTituloComunidad {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

.parrafoComunidad {
  color: white;
  text-align: center; }

.contenedorMainComunidades {
  display: grid; }

.comunidadCulturaRadio {
  background-color: palegreen;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.h2Radio {
  text-align: center; }

.comunidadCulturaPodcast {
  background-color: paleturquoise;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.comunidadCulturaTelevisión {
  background-color: paleturquoise;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

/*---------------comunidades -----------------*/
.parrafoRadioCultura {
  background: url(../imagenes/trazo.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.comunidadCulturaRadio {
  background: url(../imagenes/radioComunidad.png);
  background-position: center;
  background-repeat: no-repeat; }

.comunidadCulturaPodcast {
  background: url(../imagenes/Podcast_Cover_Artwork.png);
  background-position: center;
  background-repeat: no-repeat; }

.comunidadCulturaTelevisión {
  background: url(../imagenes/comunidadTv.png);
  background-position: center;
  background-repeat: no-repeat; }

.contenedorMainRadio {
  display: grid; }

.latinoAmerica {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.norteAmerica {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.europa {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.asia {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 1201px) {
  .contenedorPadre__Header--Somos {
    height: 300px; }
  .contenedorTituloComunidad {
    height: 200px; }
  .parrafoComunidad {
    font-size: 16px; }
  .parrafoRadioCultura {
    background-size: 100%;
    height: 30px; }
  .contenedorMainComunidades {
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; }
  .comunidadCulturaRadio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  .culturaRadioTitulo {
    width: 70%; }
  .comunidadCulturaPodcast {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  .comunidadCulturaTelevisión {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  /*-------------------comunidades------------------*/
  .contenedorMainRadio {
    background-color: powderblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 700px;
    gap: 10px; }
  .latinoAmerica {
    background-color: palegreen; }
  .norteAmerica {
    background-color: palegreen; }
  .europa {
    background-color: palegreen; }
  .asia {
    background-color: palegreen; } }

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .contenedorPadre__Header--Somos {
    height: 300px; }
  .tituloComunidadesNews {
    margin-top: 30px; }
  .parrafoRadioCultura {
    background-size: 120%;
    height: 40px;
    width: 120%; }
  .contenedorMainComunidades {
    height: 720px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px; }
  .comunidadCulturaPodcast {
    background-size: 100%; }
  /*-----------------------comunidades----------------*/
  .contenedorMainRadio {
    background-color: powderblue;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 1200px;
    gap: 10px; }
  .latinoAmerica {
    background-color: palegreen;
    height: 300px; }
  .norteAmerica {
    background-color: palegreen;
    height: 300px; }
  .europa {
    background-color: palegreen;
    height: 300px; }
  .asia {
    background-color: plum;
    height: 300px; } }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h2 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h3 {
    font-size: 1.3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h4 {
    font-size: 1.1em;
    color: white; }
  .contenedorPadre__Header--Somos {
    height: 300px; }
  .tituloComunidadesNews {
    margin-top: 30px; }
  .parrafoRadioCultura {
    text-align: center;
    background-color: papayawhip; }
  .contenedorMainComunidades {
    background-color: peachpuff;
    height: 720px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px; }
  /*------------comunidades--------------------*/
  .contenedorMainRadio {
    background-color: powderblue;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 1200px;
    gap: 10px; }
  .latinoAmerica {
    background-color: palegreen;
    height: 300px; }
  .norteAmerica {
    background-color: palegreen;
    height: 300px; }
  .europa {
    background-color: palegreen;
    height: 300px; }
  .asia {
    background-color: plum;
    height: 300px; } }
