@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 1100%;
  background: #393b3d;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526); }

/*---------------------------------------------------Header-------------------------------------*/
.contenedorPadre {
  /*--------------contenedor header--------------*/
  /*---------------llave de contenedortituloPrincipal---*/ }
  .contenedorPadre .contenedorPadre__Header--principal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .contenedorPadre .contenedorPadre__Header__textoPrincipal--uppercase {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /*-------llave de contenedor textoprincipal--uppercase--------------*/ }
    .contenedorPadre .contenedorPadre__Header__textoPrincipal--uppercase .contenedorTituloPrincipal {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center; }
      .contenedorPadre .contenedorPadre__Header__textoPrincipal--uppercase .contenedorTituloPrincipal .TituloPrincipalNews {
        text-align: center; }
  .contenedorPadre .contenedorSomosComunidad {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%; }
  .contenedorPadre .contenedorGrillaFav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px; }
  .contenedorPadre .radioFav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #393b3d; }
    .contenedorPadre .radioFav .contenedorCaratula {
      background: url(../imagenes/elClubDelMoro.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
    .contenedorPadre .radioFav .contenedorTituloStacion {
      display: grid;
      grid-template-rows: 1fr 2fr; }
  .contenedorPadre .podcastFav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #393b3d; }
    .contenedorPadre .podcastFav .contenedorCaratula {
      background: url(../imagenes/nosReiremosDeEsto.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
    .contenedorPadre .podcastFav .contenedorTituloStacion {
      display: grid;
      grid-template-rows: 1fr 2fr; }
  .contenedorPadre .eventoDelMes {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #393b3d; }
  .contenedorPadre .contenedorCaratula {
    background: url(../imagenes/casaDePapel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  .contenedorPadre .contenedorTituloStacion {
    display: grid;
    grid-template-rows: 1fr 2fr; }
  .contenedorPadre .contenedorIcono {
    display: flex;
    justify-content: center;
    align-items: center; }

/*----------esta es llave de contenedorpadre-------*/
/*-----------------------main comunidad-----------------------------------------------*/
.contenedorMain {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center; }

.contenedorMain__comunidad--blanco {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; }

.contenedorMain__comunidad__collage--mobil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  gap: 10px; }

.imgComunidadRadio {
  background: url(../imagenes/radio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180%;
  text-align: center;
  overflow: hidden;
  position: relative;
  object-fit: cover; }

.imgComunidadRadio .hover {
  width: 0%;
  height: 90vh;
  background-color: rgba(57, 59, 61, 0.383);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.imgComunidadRadio:hover .hover {
  width: 100%; }

.imgComunidadPodcast {
  background: url(../imagenes/podcast.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180%;
  text-align: center;
  overflow: hidden;
  position: relative;
  object-fit: cover; }

.imgComunidadPodcast .hover {
  width: 0%;
  height: 90vh;
  background-color: rgba(255, 17, 156, 0.301);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.imgComunidadPodcast:hover .hover {
  width: 100%; }

.imgComunidadTelevision {
  background: url(../imagenes/tv.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180%;
  text-align: center;
  overflow: hidden;
  position: relative;
  object-fit: cover; }

.imgComunidadTelevision .hover {
  width: 0%;
  height: 90vh;
  background-color: rgba(255, 251, 17, 0.301);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.hover h3 {
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase; }

.imgComunidadTelevision:hover .hover {
  width: 100%; }

/*-----------------------index------------------*/
.contenedorMain__comunidad--blanco {
  background: #393b3d;
  background: -webkit-linear-gradient(to right, white, yellow, #7303c0, #393b3d);
  background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); }

.contenedorMain_comunidad__tituloComunidad--secundario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px; }

.contenedorTitulosComunidad {
  display: flex;
  flex-flow: column nowrap;
  width: 80%; }

.tituloChicoComunidad {
  text-align: center;
  background: url(../imagenes/trazo.png);
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold; }

span {
  background: -webkit-linear-gradient(to right, white, yellow, #7303c0, #393b3d);
  background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d);
  padding: 15px;
  border: 15px;
  border-radius: 15px;
  text-transform: uppercase;
  transition: 1s; }

/*---------------------------------------------------NovedadesComunidad----------------------------*/
.contenedorMain__novedades--centrado {
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }
  .contenedorMain__novedades--centrado .contenedorMain__novedades__TituloNovedades {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 20px;
    height: 250px;
    width: 100%; }
  .contenedorMain__novedades--centrado .contenedorTitulosNovedades {
    display: flex;
    flex-flow: column nowrap; }
  .contenedorMain__novedades--centrado .contenedorCard {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedorMain__novedades--centrado .ParrafoCard {
    height: 100px;
    width: 85%;
    margin-top: 30px;
    text-align: justify; }
  .contenedorMain__novedades--centrado .btnSecundario {
    margin-top: 30px; }
  .contenedorMain__novedades--centrado .cardEspectactulo {
    height: 450px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #393b3d;
    border-radius: 10px; }
    .contenedorMain__novedades--centrado .cardEspectactulo .imagenCard {
      background: url(../imagenes/eventos.png);
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      background-size: 150%;
      height: 350px;
      width: 100%; }
  .contenedorMain__novedades--centrado .cardMundoCine {
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #393b3d; }
    .contenedorMain__novedades--centrado .cardMundoCine .imagenCard {
      background: url(../imagenes/noticias.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 350px;
      width: 100%;
      border-radius: 10px; }
  .contenedorMain__novedades--centrado .cardCultura {
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #393b3d; }
    .contenedorMain__novedades--centrado .cardCultura .imagenCard {
      background: url(../imagenes/novedades.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150%;
      height: 350px;
      width: 100%;
      border-radius: 10px; }

/*---------------llave del contenedorMain_novedades-----------------------*/
/*-----------------ContenedorNewsletter---------------*/
.contenedorMain__newsletter {
  display: grid;
  gap: 10px;
  margin-top: 90px;
  background: #393b3d;
  background: -webkit-linear-gradient(to right, white, yellow, #7303c0, #393b3d);
  background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); }

.contenedorNew {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

.contenedorTituloNewsLetter {
  display: flex;
  flex-flow: column nowrap;
  width: 80%; }

.contenedorNewsContenido {
  display: grid;
  gap: 10px; }
  .contenedorNewsContenido .contenedorCultura {
    background: url(../imagenes/articulopodcast.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    position: relative;
    object-fit: cover; }
  .contenedorNewsContenido .contenedorCultura .hoverNews {
    width: 0%;
    height: 90vh;
    background: url(../imagenes/hoverCultura.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .contenedorNewsContenido .contenedorCultura:hover .hoverNews {
    width: 100%; }
  .contenedorNewsContenido .contenedorSocial {
    background: url(../imagenes/articuloestación.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    position: relative;
    object-fit: cover; }
  .contenedorNewsContenido .contenedorSocial .hoverNews {
    width: 0%;
    height: 90vh;
    background: url(../imagenes/hoverSocial.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .contenedorNewsContenido .contenedorSocial:hover .hoverNews {
    width: 100%; }
  .contenedorNewsContenido .contenedorEquipoSomos {
    background: url(../imagenes/comunidadSomos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    position: relative;
    object-fit: cover; }
  .contenedorNewsContenido .contenedorEquipoSomos .hoverNews {
    width: 0%;
    height: 90vh;
    background: url(../imagenes/radio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .contenedorNewsContenido .contenedorEquipoSomos:hover .hoverNews {
    width: 100%; }

/*--------------descarga----------------*/
footer {
  display: flex;
  align-items: center;
  margin-top: 60px; }
  footer .logFooter {
    height: 170px;
    flex: 2 1 auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .logFooter .logoFooter {
      width: 90px; }
  footer .menuFooter {
    height: 170px;
    flex: 1 1 auto; }
  footer .redesFooter {
    display: flex;
    flex: 2 1 auto;
    align-items: center;
    justify-content: center;
    height: 100px; }
  footer .logosRedesFooter {
    display: flex;
    flex-flow: row nowrap; }

/*-----------------------comunidadMain----------------------------------*/
@media only screen and (min-width: 1201px) {
  .contenedorPadre .container-fluid {
    height: 100px; }
  .contenedorPadre .navbar {
    margin-left: 50px; }
  .contenedorPadre .d-flex {
    margin-right: 50px; }
  .contenedorPadre .contenedorPadre__Header--principal {
    height: 1600px;
    display: flex;
    flex-flow: column nowrap; }
  .contenedorNaverHeader {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.609), rgba(255, 255, 0, 0.418), rgba(116, 3, 191, 0.424), #393b3d);
    background: linear-gradient(to right, rgba(255, 255, 0, 0.596), rgba(236, 54, 188, 0.438), rgba(57, 59, 60, 0.445), #393b3d), url(../imagenes/fondoHeaderTitulo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  h1 {
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #313131; }
  h2 {
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #313131; }
  h3 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #313131; }
  h4 {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #313131; }
  .TituloComunidadComunidad {
    width: 80%; }
  .contenedorPadre__Header--principal {
    height: 1700px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .contenedorPadre__Header__textoPrincipal--uppercase {
    height: 550px;
    width: 100%;
    /*margin-top:250px;*/ }
  .contenedorTituloPrincipal {
    height: 300px;
    width: 60%; }
  .contenedorSomosComunidad {
    height: 1100px; }
  .contenedorGrillaFav {
    gap: 20px;
    width: 60%; }
  .radioFav {
    gap: 10px; }
    .radioFav .contenedorCaratula {
      background-size: 100%; }
    .radioFav .contenedorTituloFavRadio .favDelmes {
      margin-top: 40px;
      margin-left: 12px;
      font-size: 16px;
      text-shadow: 1px 1px 1px #272626; }
    .radioFav .favRadio .favRadioTitulo {
      margin-left: 15px; }
  .tituloChicoComunidad {
    color: #393b3d;
    width: 200px;
    padding: 20px;
    background-size: 100%;
    text-transform: uppercase; }
  .TituloComunidad {
    margin-left: 20px;
    margin-bottom: 35px; }
  .podcastFav {
    gap: 10px;
    background-color: #393b3d; }
    .podcastFav .contenedorCaratula {
      background: url(../imagenes/elClubDelMoro.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
  .contenedorTituloStacion {
    gap: 5px; }
  .eventoDelMes {
    gap: 10px; }
  .contenedorCaratula {
    background: url(../imagenes/elClubDelMoro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  .contenedorTituloStacion {
    gap: 5px; }
    .contenedorTituloStacion .contenedorTituloFavRadio .favDelmes {
      margin-top: 40px;
      margin-left: 12px; }
    .contenedorTituloStacion .favRadio .favRadioTitulo {
      margin-left: 15px; }
  .contenedorMain__comunidad__collage--mobil {
    grid-template-rows: 500px; }
  /*---------------------NOVEDADES------------------*/
  .contenedorTitulosNovedades {
    width: 50%; }
  .TituloNovedades {
    margin-left: 20px; }
  .contenedorCard {
    width: 50%;
    height: 500px;
    flex-flow: row nowrap; }
  .cardMundoCine {
    margin-left: 30px;
    margin-right: 30px; }
  /*------------------NewsLetter----------------*/
  .contenedorMain__newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    gap: 10px; }
  .contenedorNew {
    height: 500px; }
    .contenedorNew .newsLetterTitulo {
      width: 90%;
      margin-left: 30px; }
  .contenedorNewsContenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 500px; }
  .footer {
    display: flex;
    flex-flow: row nowrap;
    height: 250px; }
  .enlaceRedes {
    color: white;
    font-size: 30px;
    margin-right: 10px; }
  .enlaceRedes:hover {
    color: yellow; } }

/*----------------------llaveMAIN------------------------*/
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .contenedorPadre .contenedorPadre__Header--principal {
    height: 1400px;
    display: flex;
    flex-flow: column nowrap; }
  .contenedorNaverHeader {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 500px;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(64, 66, 68, 0.555), rgba(34, 36, 37, 0.555)), url(../imagenes/fondoHeaderTitulo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  h1 {
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h2 {
    font-size: 2.5em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h3 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h4 {
    font-size: 1em;
    color: white; }
  .contenedorPadre__Header__textoPrincipal--uppercase {
    margin-top: 50px; }
  .TituloPrincipalNews {
    width: 60%; }
  .contenedorSomosComunidad {
    margin-top: 70px; }
  .contenedorGrillaFav {
    gap: 20px;
    width: 90%; }
  .radioFav {
    gap: 10px; }
    .radioFav .contenedorCaratula {
      background-size: 100%; }
    .radioFav .contenedorTituloFavRadio .favDelmes {
      margin-left: 5px; }
    .radioFav .favRadio {
      color: white; }
      .radioFav .favRadio .favRadioTitulo {
        margin-left: 15px; }
  .podcastFav {
    gap: 10px;
    background-color: #393b3d; }
    .podcastFav .contenedorCaratula {
      background: url(../imagenes/elClubDelMoro.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
    .podcastFav .contenedorTituloStacion {
      gap: 5px; }
      .podcastFav .contenedorTituloStacion .contenedorTituloFavRadio .favDelmes {
        margin-top: 40px;
        margin-left: 12px; }
      .podcastFav .contenedorTituloStacion .favRadio .favRadioTitulo {
        margin-left: 15px; }
  .eventoDelMes {
    gap: 10px; }
  .contenedorCaratula {
    background: url(../imagenes/elClubDelMoro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
  .contenedorTituloStacion {
    gap: 5px; }
    .contenedorTituloStacion .contenedorTituloFavRadio .favDelmes {
      margin-top: 40px;
      margin-left: 12px; }
    .contenedorTituloStacion .favRadio .favRadioTitulo {
      margin-left: 15px; }
  .contenedorMain__comunidad__collage--mobil {
    grid-template-rows: 500px; }
  .contenedorMain__comunidad--blanco {
    display: flex;
    flex-flow: column nowrap;
    height: 800px; }
  .contenedorMain_comunidad__tituloComunidad--secundario {
    margin-top: 20px;
    height: 400px; }
  .tituloChicoComunidad {
    color: #393b3d;
    width: 200px;
    padding: 20px;
    background-size: 100%;
    text-transform: uppercase; }
  .TituloComunidad {
    margin-left: 10px; }
  .contenedorMain__novedades--centrado {
    margin-top: 100px; }
  .contenedorMain__novedades__TituloNovedades {
    width: 75%; }
  .contenedorTitulosNovedades {
    width: 85%; }
  .TituloNovedades {
    margin-left: 10px; }
  .contenedorCard {
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 40%; }
  .cardEspectactulo {
    margin-top: 40px; }
  .cardMundoCine {
    margin-top: 40px; }
  .cardCultura {
    margin-top: 40px; }
  .contenedorMain__newsletter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 800px;
    gap: 10px; }
  .contenedorNew {
    height: 400px; }
  .contenedorTituloNewsLetter {
    justify-content: center;
    align-items: center;
    width: 75%; }
  .newsLetterTitulo {
    text-align: center; }
  .contenedorNewsContenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px; }
  .footer {
    display: flex;
    flex-flow: row nowrap;
    height: 250px; }
  .enlaceRedes {
    color: white;
    font-size: 25px;
    margin-right: 10px; }
  .enlaceRedes:hover {
    color: yellow; } }

/*padre*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h2 {
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h3 {
    font-size: 1.3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h4 {
    font-size: 1.1em;
    color: white; }
  .contenedorPadre .contenedorPadre__Header--principal {
    height: 750px;
    display: flex;
    flex-flow: column nowrap; }
  .contenedorPadre__Header__textoPrincipal--uppercase {
    margin-top: 30px; }
    .contenedorPadre__Header__textoPrincipal--uppercase .contenedorTituloPrincipal {
      margin-top: 30px; }
  .contenedorTituloPrincipal {
    margin-bottom: 50px; }
  .contenedorGrillaFav {
    gap: 10px; }
  .contenedorTituloStacion {
    margin-left: 15px; }
  .contenedorMain {
    margin-top: 240px; }
  .contenedorMain__comunidad__collage--mobil {
    grid-template-rows: 300px; }
  .contenedorMain__comunidad--blanco {
    display: flex;
    flex-flow: column nowrap; }
    .contenedorMain__comunidad--blanco .contenedorMain_comunidad__tituloComunidad--secundario {
      height: 300px; }
      .contenedorMain__comunidad--blanco .contenedorMain_comunidad__tituloComunidad--secundario .contenedorTitulosComunidad {
        height: 370px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .contenedorMain__comunidad--blanco .contenedorMain_comunidad__tituloComunidad--secundario .TituloComunidad {
        margin-left: 10px;
        text-align: center; }
  .tituloChicoComunidad {
    color: #393b3d;
    width: 250px;
    padding: 20px;
    background-size: 100%;
    text-transform: uppercase; }
  .contenedorMain__novedades--centrado {
    margin-top: 50px; }
  .contenedorMain__novedades__TituloNovedades {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedorTitulosNovedades {
    display: flex;
    justify-content: center;
    align-items: center; }
  .TituloNovedades {
    text-align: center; }
  .contenedorCard {
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 70%; }
  .cardEspectactulo {
    margin-top: 10px; }
  .cardMundoCine {
    margin-top: 40px; }
  .cardCultura {
    margin-top: 40px; }
  .contenedorMain__newsletter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 600px;
    gap: 10px; }
  .contenedorNew {
    height: 300px; }
  .contenedorTituloNewsLetter {
    justify-content: center;
    align-items: center;
    width: 80%; }
  .newsLetterTitulo {
    text-align: center; }
  .contenedorNewsContenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 300px;
    margin-top: 60px; }
  .footer {
    display: flex;
    flex-flow: column nowrap;
    height: 450px;
    align-items: center;
    margin-top: 60px; }
  .enlaceRedes {
    color: white;
    font-size: 20px;
    margin-right: 10px; }
  .enlaceRedes:hover {
    color: yellow; } }

/*-------------------------ENLACES A-------------------------------*/
/*-----------------------BtnPrincipal tablet y escritorio----------------------------*/
a {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px 1px #272727; }

.Search:hover {
  background-color: yellow; }

.contenedorTituloPrincipal__btnPrincipal--azul {
  margin-top: 20px; }
  .contenedorTituloPrincipal__btnPrincipal--azul .btnPrincipal {
    text-decoration: none;
    color: #393b3d;
    font-size: 14px;
    background-color: yellow;
    padding: 10px 60px;
    border-radius: 20px; }
  .contenedorTituloPrincipal__btnPrincipal--azul .btnPrincipal:hover {
    background-color: #393b3d;
    color: white;
    transition: 1s; }

.logo {
  width: 100px; }

.play {
  width: 100px; }

.play:hover {
  background-color: yellow;
  border-radius: 50px;
  transition: 0.5s; }

.logoFooter {
  width: 90px; }

/*------------------------BTN SECUNDARIO Tablet y escritorio----------------------------*/
.btnSecundarioComunidades {
  display: flex;
  align-items: center;
  justify-content: center; }

.btnSecundarioNovedades {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; }

.btnNovedades {
  text-decoration: none;
  color: #393b3d;
  font-size: 16px;
  background-color: #e9e8e8;
  border-radius: 20px; }

.btnNovedades:hover {
  background-color: yellow;
  color: #393b3d;
  transition: 1s; }

.btnSecundario {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.btnComunidad {
  text-decoration: none;
  color: white;
  border: solid white;
  font-size: 16px;
  border-style: solid; }

.btnComunidades {
  text-decoration: none;
  color: #393b3d;
  background-color: white;
  font-size: 16px;
  border-radius: 20px; }

.btnComunidades:hover {
  background-color: yellow;
  color: #393b3d;
  border: none;
  transition: 1s; }

.btnComunidad:hover {
  background-color: yellow;
  color: #393b3d;
  border: none;
  transition: 1s; }

.btnDescarga {
  text-decoration: none;
  color: white;
  font-size: 14px;
  border: white 1.5;
  border-style: solid; }

.btnDescarga:hover {
  background-color: yellow;
  border: yellow;
  color: #393b3d;
  transition: 1s; }

.contenedorInput {
  margin-top: 15px; }
  .contenedorInput .inputEmail {
    border-radius: 10px;
    border-style: none; }
  .contenedorInput .buttonNews {
    padding: 4px 50px;
    border-radius: 10px;
    border-style: none;
    background-color: yellow;
    color: #393b3d;
    font-weight: bold; }

.buttonNews:hover {
  background-color: white;
  color: #393b3d;
  transition: 1s; }

.NewsTitulo {
  color: white; }

/*-----------------------Registrate-----------------*/
.email {
  border-radius: 10px;
  border-style: none; }

.password {
  border-radius: 10px;
  border-style: none; }

.inputRegistro {
  display: flex;
  flex-flow: column nowrap; }
  .inputRegistro .inputSubmit {
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px 60px;
    border-style: none;
    background-color: white; }
  .inputRegistro .inputSubmit:hover {
    background-color: yellow;
    transition: 3s; }

.nombresFormulario {
  margin: 5px; }

/*------navAfter-----*/
.nav-item {
  position: relative;
  margin-right: 25px; }

.nav-item a::after {
  content: "";
  background-color: white;
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  height: 4px;
  opacity: 0; }

.nav-item a.selected::after,
.nav-item a:hover::after {
  opacity: 1; }

/*-------------Redesfooter-------------*/
/*-------------------indicadoresGenerales ------------------*/
.ParrafoSomos {
  color: white;
  font-family: 'Lato', sans-serif; }

/*----------------------------------Indicadores----------------------------------------------*/
.ParrafoCard {
  color: white;
  font-family: 'Lato', sans-serif; }

/*--------------------------------lista de footer-----------------------------------------------------*/
ul {
  list-style: none; }
  ul .listaFooter {
    margin-top: 10px;
    text-align: center;
    margin-right: 30px; }
    ul .listaFooter a {
      text-decoration: none;
      color: white; }
    ul .listaFooter a:hover {
      color: yellow; }

/*----------------------------------------HoverMenu------------------------------------------*/
.menuTexto:hover {
  background-color: yellow;
  margin-right: 10px;
  color: white; }

@media only screen and (max-width: 600px) {
  .collapse {
    background-color: #393b3d; }
  .contenedorMain_comunidad__tituloComunidad--secundario {
    height: 640px; }
  .btnNovedades {
    font-size: 16px;
    padding: 6px 20px; }
  .btnSecundarioComunidad {
    margin-top: 20px; }
  .btnComunidad {
    padding: 6px 20px;
    border-radius: 20px; }
  .btnComunidades {
    padding: 6px 20px; }
  .btnDescarga {
    padding: 4px 20px;
    border-radius: 20px; }
  .contenedorInput {
    margin-left: 50px; }
  .buttonNews {
    margin-top: 10px;
    margin-left: 15px; } }

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .collapse {
    background-color: #393b3d; }
  .btnNovedades {
    font-size: 16px;
    padding: 6px 30px; }
  .btnSecundarioComunidad {
    margin-top: 20px;
    height: 40px; }
  .btnComunidad {
    padding: 6px 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 160px; }
  .btnComunidades {
    font-size: 16px;
    padding: 6px 30px; }
  .btnDescarga {
    padding: 6px 30px;
    border-radius: 20px; }
  .buttonNews {
    margin-left: 8px; } }

@media only screen and (min-width: 1201px) {
  .btnSecundarioComunidad {
    margin-top: 10px; }
  .btnNovedades {
    font-size: 16px;
    padding: 7px 60px; }
  .btnComunidad {
    font-size: 16px;
    padding: 7px 60px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 160px; }
  .btnComunidades {
    text-decoration: none;
    font-size: 16px;
    padding: 7px 60px; }
  .btnDescarga {
    padding: 10px 60px;
    border-radius: 20px; }
  .contenedorInput {
    margin-left: 30px; }
  .inputEmail {
    padding: 4px 40px; } }

/*-----------------------------QUIENES SOMOS-----------------------------*/
.contenedorPadre__Header--Somos {
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.contenedorPadre__Header--principal {
  height: 200px; }

.casitodos-1 {
  width: 360px; }

.casitodos-2 {
  width: 720px; }

.casitodos-3 {
  width: 1080px; }

.casitodos-4 {
  width: 1440px; }

.collage {
  background: url(../imagenes/somosComunidad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 250px; }

.ParrafoNovedades {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.507);
  padding: 30px;
  border-radius: 20px; }

.tituloEventos {
  color: white;
  width: 60%; }

/*$parrafo:red;

.ParrafoNovedades{
@if ($parrafo == azul) {
    color: blue;
}@else{
    color:  black;
}
}
*/
/*---------------------------Descarga-------------------------------*/
.contenedorMainDescarga {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .contenedorMainDescarga .contenedorFormularioDescaga {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(57, 59, 61, 0.575); }
    .contenedorMainDescarga .contenedorFormularioDescaga .tituloPrincipalDescarga {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      justify-content: center; }
    .contenedorMainDescarga .contenedorFormularioDescaga .containerDescargaTitulo {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
    .contenedorMainDescarga .contenedorFormularioDescaga .parrafoDescarga {
      color: white; }

/*---------------------------NOVEDADES----------------------------------------*/
.contenedorMainNovedades {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

/*-----------------LLAVE DE ContenedorMainNovedades----------------*/
.conciertos {
  background: url(../imagenes/conciertoEvento.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transition: 1s;
  margin-bottom: 10px; }

.conciertos:hover {
  transform: scale(0.9);
  z-index: 2; }

.entrevistas {
  background: url(../imagenes/entrevistaEventos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transition: 1s; }

.entrevistas:hover {
  transform: scale(0.9);
  z-index: 2; }

.livestreaming {
  background: url(../imagenes/estrenosEventos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transition: 1s; }

.livestreaming:hover {
  transform: scale(0.9);
  z-index: 2; }

conciertos {
  background-color: rgba(255, 255, 255, 0.24);
  width: 355px; }

.mainRegistro {
  background: url(../imagenes/fondoRegistrate.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.fondoRegistrate {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 70, 70, 0.726);
  transition: 2s; }

.NewsTituloRegistro {
  text-align: center; }

.contenedorRegistro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.contenedorRegistroUsuario {
  display: flex;
  align-items: center;
  justify-content: center; }

.cuenta {
  color: white;
  text-decoration: none; }

.cuenta:hover {
  color: yellow; }

.containerImgConcierto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.h2eventos {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596); }

@media only screen and (min-width: 1201px) {
  .contenedorMain_somos--centro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 450px;
    height: 250px;
    margin-right: 20px;
    margin-top: 40px; }
  .ParrafoSomos {
    margin-top: 20px; }
  .contenedorMainNovedades {
    height: 370px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: -webkit-linear-gradient(to right, white, yellow, #7303c0, #393b3d);
    background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); }
  .contenedorEventos {
    height: 350px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-left: 15px;
    margin-right: 15px; }
  .livestreaming {
    height: 330px; }
  /*----------------------descargaApp----------------------------*/
  .contenedorMainDescarga {
    background: url(../imagenes/NuestraApp.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    gap: 10px;
    margin-top: 40px; }
  .tituloDescarga {
    width: 60%;
    text-align: center; }
  .contenedorFormularioDescaga {
    height: 500px;
    border-radius: 240px; }
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 40px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 450px;
    width: 45%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 45px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  /*-----------------Quienesomos------------*/
  .contenedorMain_somos--centro {
    padding: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 350px;
    height: 250px;
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .tituloEventos {
    color: white; }
  .contenedorMainNovedades {
    display: flex;
    height: 900px;
    flex-flow: column nowrap;
    background: -webkit-linear-gradient(to right, white, yellow, #7303c0, #393b3d);
    background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); }
  .contenedorEventos {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 1000px;
    margin-top: 60px; }
  .h2eventos {
    width: 60%; }
  .conciertos {
    height: 330px;
    margin-top: 40px; }
  .entrevistas {
    height: 330px;
    margin-top: 30px; }
  .livestreaming {
    height: 330px;
    margin-top: 30px; }
  /*-----------------DescargaAPP------------*/
  .contenedorMainDescarga {
    background: url(../imagenes/NuestraApp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    gap: 10px;
    height: 500px;
    margin-top: 60px; }
  .tituloDescarga {
    width: 60%;
    text-align: center; }
  .contenedorFormularioDescaga {
    height: 450px;
    width: 90%;
    border-radius: 200px; }
  /*--------------------------Registro-----------------------*/
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 400px;
    width: 55%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 35px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (max-width: 600px) {
  .contenedorMain_somos--centro {
    margin-left: 10px;
    margin-right: 10px;
    height: 1100px;
    background-color: palegreen;
    display: flex;
    flex-flow: column nowrap; }
  .casitodos {
    height: 250px;
    margin-top: 20px; }
  .ParrafoSomos {
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .contenedorTituloComunidad {
    width: 70%;
    text-align: center; }
  /*-------------------descargaAPP------------------*/
  .contenedorMainDescarga {
    background: url(../imagenes/NuestraApp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 240%;
    gap: 10px;
    height: 500px;
    margin-top: 60px; }
  .contenedorFormularioDescaga {
    height: 400px;
    border-radius: 250px; }
  .mainRegistro {
    height: 350px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 300px;
    width: 75%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 20px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 150px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 70%;
    margin-top: 10px; } }

.conciertos {
  height: 330px;
  margin-top: 40px; }

.entrevistas {
  height: 330px;
  margin-top: 30px; }

.livestreaming {
  height: 330px;
  margin-top: 30px; }

entrevistas {
  background-color: rgba(255, 255, 255, 0.24);
  width: 355px; }

.mainRegistro {
  background: url(../imagenes/fondoRegistrate.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.fondoRegistrate {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 70, 70, 0.726);
  transition: 2s; }

.NewsTituloRegistro {
  text-align: center; }

.contenedorRegistro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.contenedorRegistroUsuario {
  display: flex;
  align-items: center;
  justify-content: center; }

.cuenta {
  color: white;
  text-decoration: none; }

.cuenta:hover {
  color: yellow; }

.containerImgConcierto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.h2eventos {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596); }

@media only screen and (min-width: 1201px) {
  .contenedorMain_somos--centro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 450px;
    height: 250px;
    margin-right: 20px;
    margin-top: 40px; }
  .ParrafoSomos {
    margin-top: 20px; }
  .contenedorMainNovedades {
    height: 370px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: -webkit-linear-gradient(to right, white, yellow, #7303c0, #393b3d);
    background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); }
  .contenedorEventos {
    height: 350px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-left: 15px;
    margin-right: 15px; }
  .livestreaming {
    height: 330px; }
  /*----------------------descargaApp----------------------------*/
  .contenedorMainDescarga {
    background: url(../imagenes/NuestraApp.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    gap: 10px;
    margin-top: 40px; }
  .tituloDescarga {
    width: 60%;
    text-align: center; }
  .contenedorFormularioDescaga {
    height: 500px;
    border-radius: 240px; }
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 40px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 450px;
    width: 45%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 45px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  /*-----------------Quienesomos------------*/
  .contenedorMain_somos--centro {
    padding: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 350px;
    height: 250px;
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .tituloEventos {
    color: white; }
  .contenedorMainNovedades {
    display: flex;
    height: 900px;
    flex-flow: column nowrap;
    background: -webkit-linear-gradient(to right, white, yellow, #7303c0, #393b3d);
    background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); }
  .contenedorEventos {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 1000px;
    margin-top: 60px; }
  .h2eventos {
    width: 60%; }
  .conciertos {
    height: 330px;
    margin-top: 40px; }
  .entrevistas {
    height: 330px;
    margin-top: 30px; }
  .livestreaming {
    height: 330px;
    margin-top: 30px; }
  /*-----------------DescargaAPP------------*/
  .contenedorMainDescarga {
    background: url(../imagenes/NuestraApp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    gap: 10px;
    height: 500px;
    margin-top: 60px; }
  .tituloDescarga {
    width: 60%;
    text-align: center; }
  .contenedorFormularioDescaga {
    height: 450px;
    width: 90%;
    border-radius: 200px; }
  /*--------------------------Registro-----------------------*/
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 400px;
    width: 55%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 35px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (max-width: 600px) {
  .contenedorMain_somos--centro {
    margin-left: 10px;
    margin-right: 10px;
    height: 1100px;
    background-color: palegreen;
    display: flex;
    flex-flow: column nowrap; }
  .casitodos {
    height: 250px;
    margin-top: 20px; }
  .ParrafoSomos {
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .contenedorTituloComunidad {
    width: 70%;
    text-align: center; }
  /*-------------------descargaAPP------------------*/
  .contenedorMainDescarga {
    background: url(../imagenes/NuestraApp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 240%;
    gap: 10px;
    height: 500px;
    margin-top: 60px; }
  .contenedorFormularioDescaga {
    height: 400px;
    border-radius: 250px; }
  .mainRegistro {
    height: 350px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 300px;
    width: 75%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 20px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 150px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 70%;
    margin-top: 10px; } }

.conciertos {
  height: 330px;
  margin-top: 40px; }

.entrevistas {
  height: 330px;
  margin-top: 30px; }

.livestreaming {
  height: 330px;
  margin-top: 30px; }

livestreaming {
  background-color: rgba(255, 255, 255, 0.24);
  width: 355px; }

.mainRegistro {
  background: url(../imagenes/fondoRegistrate.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.fondoRegistrate {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 70, 70, 0.726);
  transition: 2s; }

.NewsTituloRegistro {
  text-align: center; }

.contenedorRegistro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.contenedorRegistroUsuario {
  display: flex;
  align-items: center;
  justify-content: center; }

.cuenta {
  color: white;
  text-decoration: none; }

.cuenta:hover {
  color: yellow; }

.containerImgConcierto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.h2eventos {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596); }

@media only screen and (min-width: 1201px) {
  .contenedorMain_somos--centro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 450px;
    height: 250px;
    margin-right: 20px;
    margin-top: 40px; }
  .ParrafoSomos {
    margin-top: 20px; }
  .contenedorMainNovedades {
    height: 370px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: -webkit-linear-gradient(to right, white, yellow, #7303c0, #393b3d);
    background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); }
  .contenedorEventos {
    height: 350px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
  .conciertos {
    height: 330px; }
  .entrevistas {
    height: 330px;
    margin-left: 15px;
    margin-right: 15px; }
  .livestreaming {
    height: 330px; }
  /*----------------------descargaApp----------------------------*/
  .contenedorMainDescarga {
    background: url(../imagenes/NuestraApp.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    gap: 10px;
    margin-top: 40px; }
  .tituloDescarga {
    width: 60%;
    text-align: center; }
  .contenedorFormularioDescaga {
    height: 500px;
    border-radius: 240px; }
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 40px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 450px;
    width: 45%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 45px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  /*-----------------Quienesomos------------*/
  .contenedorMain_somos--centro {
    padding: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  .casitodos {
    width: 350px;
    height: 250px;
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .tituloEventos {
    color: white; }
  .contenedorMainNovedades {
    display: flex;
    height: 900px;
    flex-flow: column nowrap;
    background: -webkit-linear-gradient(to right, white, yellow, #7303c0, #393b3d);
    background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); }
  .contenedorEventos {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 1000px;
    margin-top: 60px; }
  .h2eventos {
    width: 60%; }
  .conciertos {
    height: 330px;
    margin-top: 40px; }
  .entrevistas {
    height: 330px;
    margin-top: 30px; }
  .livestreaming {
    height: 330px;
    margin-top: 30px; }
  /*-----------------DescargaAPP------------*/
  .contenedorMainDescarga {
    background: url(../imagenes/NuestraApp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    gap: 10px;
    height: 500px;
    margin-top: 60px; }
  .tituloDescarga {
    width: 60%;
    text-align: center; }
  .contenedorFormularioDescaga {
    height: 450px;
    width: 90%;
    border-radius: 200px; }
  /*--------------------------Registro-----------------------*/
  .mainRegistro {
    height: 450px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 400px;
    width: 55%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 35px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 250px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 50%; } }

@media only screen and (max-width: 600px) {
  .contenedorMain_somos--centro {
    margin-left: 10px;
    margin-right: 10px;
    height: 1100px;
    background-color: palegreen;
    display: flex;
    flex-flow: column nowrap; }
  .casitodos {
    height: 250px;
    margin-top: 20px; }
  .ParrafoSomos {
    margin-top: 30px; }
  /*------------------Novedades------------*/
  .contenedorTituloComunidad {
    width: 70%;
    text-align: center; }
  /*-------------------descargaAPP------------------*/
  .contenedorMainDescarga {
    background: url(../imagenes/NuestraApp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 240%;
    gap: 10px;
    height: 500px;
    margin-top: 60px; }
  .contenedorFormularioDescaga {
    height: 400px;
    border-radius: 250px; }
  .mainRegistro {
    height: 350px;
    width: 100%;
    margin-top: 70px; }
  .fondoRegistrate {
    border-radius: 250px;
    height: 300px;
    width: 75%;
    padding: 20px; }
  .NewsTituloRegistro {
    font-size: 20px;
    margin-top: 40px; }
  .contenedorRegistro {
    height: 150px;
    width: 100%; }
  .inputRegistro .inputSubmit {
    margin-top: 20px; }
  .contenedorRegistroUsuario {
    height: 50px;
    width: 70%;
    margin-top: 10px; } }

.conciertos {
  height: 330px;
  margin-top: 40px; }

.entrevistas {
  height: 330px;
  margin-top: 30px; }

.livestreaming {
  height: 330px;
  margin-top: 30px; }

/*----------------Registrate ---------------*/
.contenedorPadre__Header--News {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.contenedorTituloComunidad {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

.parrafoComunidad {
  color: white;
  text-align: center; }

.contenedorMainComunidades {
  display: grid;
  background: -webkit-linear-gradient(to right, white, yellow, #7303c0, #393b3d);
  background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); }

.comunidadCulturaRadio {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.h2Radio {
  text-align: center; }

.comunidadCulturaPodcast {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.comunidadCulturaTelevisión {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

/*---------------comunidades -----------------*/
.parrafoRadioCultura {
  background: url(../imagenes/trazo.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.comunidadCulturaRadio {
  background: url(../imagenes/radioComunidad.png);
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s; }

.comunidadCulturaRadio:hover {
  transform: scale(0.9);
  z-index: 2; }

.comunidadCulturaPodcast {
  background: url(../imagenes/Podcast_Cover_Artwork.png);
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s; }

.comunidadCulturaPodcast:hover {
  transform: scale(0.9);
  z-index: 2; }

.comunidadCulturaTelevisión {
  background: url(../imagenes/comunidadTv.png);
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s; }

.comunidadCulturaTelevisión:hover {
  transform: scale(0.9);
  z-index: 2; }

.contenedorMainRadio {
  display: grid; }

.latinoAmerica {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: url(../imagenes/radioLatina.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.norteAmerica {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: url(../imagenes/radioAmericana.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.europa {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: url(../imagenes/radioEuropea.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.asia {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: url(../imagenes/radioAsia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

@media only screen and (min-width: 1201px) {
  .contenedorTituloComunidad {
    height: 200px; }
  .parrafoComunidad {
    font-size: 16px; }
  .parrafoRadioCultura {
    background-size: 100%;
    height: 30px; }
  .contenedorMainComunidades {
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; }
  .comunidadCulturaRadio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  .culturaRadioTitulo {
    width: 70%; }
  .comunidadCulturaPodcast {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  .comunidadCulturaTelevisión {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  /*-------------------comunidades------------------*/
  .contenedorMainRadio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 700px;
    gap: 10px; } }

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .tituloComunidadesNews {
    margin-top: 30px; }
  .parrafoRadioCultura {
    background-size: 120%;
    height: 40px;
    width: 120%; }
  .contenedorMainComunidades {
    height: 720px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px; }
  .comunidadCulturaPodcast {
    background-size: 100%; }
  /*-----------------------comunidades----------------*/
  .contenedorMainRadio {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 1200px;
    gap: 10px; }
  .latinoAmerica {
    height: 300px; }
  .norteAmerica {
    height: 300px; }
  .europa {
    height: 300px; }
  .asia {
    height: 300px; } }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #313131; }
  h2 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h3 {
    font-size: 1.3em;
    font-family: 'Roboto Condensed', sans-serif;
    color: white; }
  h4 {
    font-size: 1.1em;
    color: white; }
  .tituloComunidadesNews {
    margin-top: 30px; }
  .parrafoRadioCultura {
    text-align: center; }
  .contenedorMainComunidades {
    height: 720px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px; }
  /*------------comunidades--------------------*/
  .contenedorTituloComunidad {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedorMainRadio {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 1200px;
    gap: 5px; }
  .latinoAmerica {
    height: 300px; }
  .norteAmerica {
    height: 300px; }
  .europa {
    height: 300px; }
  .asia {
    height: 300px; } }
