/*-------------------------ENLACES A-------------------------------*/

/*-----------------------BtnPrincipal tablet y escritorio----------------------------*/
$color:red;

a{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}



.contenedorTituloPrincipal__btnPrincipal--azul{ 
margin-top: 20px;
.btnPrincipal {
text-decoration: none;
color: #393b3d;
font-size: 14px;
background-color: yellow;
padding: 10px 60px;  
border-radius: 20px;

}

.btnPrincipal:hover {
background-color: #393b3d;
color: white;
}
}

.logo{
    width: 100px;
}

.play {
    width: 100px;
}
.play:hover{
    background-color: yellow;
    border-radius: 50px;
   }
   

.logoFooter{
    width: 90px;  
}
/*------------------------BTN SECUNDARIO Tablet y escritorio----------------------------*/
.btnSecundarioComunidad{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
margin-right: 40px;

}

.btnSecundarioComunidades{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
}

.btnSecundarioNovedades{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
 }

.btnNovedades{
text-decoration: none;
color: #393b3d;
font-size: 16px;
background-color: #e9e8e8;
 }

.btnNovedades:hover{
   background-color: yellow; 
   color:#393b3d; ; }

.btnSecundario{
text-align: center;
display: flex;
align-items: center;
justify-content: center;}



.btnComunidad{
text-decoration: none;
color: white;
font-size: 16px;
border:yellow 1.5;
border-style: solid;
padding: 10px 60px;  
border-radius: 20px;
}
.btnComunidad:hover{
background-color: yellow;
color: #393b3d;
border: none;
}


.btnDescarga{
text-decoration: none;
color: white;
font-size: 14px;
border:white 1.5;
border-style: solid;
}

.btnDescarga:hover{
    background-color: yellow;
    border: yellow;
    color: #393b3d;
}


.btnEventos{
text-decoration: none;
color: #393b3d;
font-size: 14px;
background-color: white;
padding: 10px 60px;  
border-radius: 20px;
}
.btnEventos:hover{
background-color: yellow;  
color: #393b3d;

}

.NewsTitulo{
    color: white;
}
.tituloChicoNovedad{
    color: white;
    margin-right: 170px;
}


/*------navAfter-----*/

.nav-item{
    position: relative;
    margin-right: 25px;

}
.nav-item a::after{
    content: "";
    background-color: white;
    position: absolute;
    left: 0;
    top: 80%;
    width: 100%;
    height: 4px;
    opacity: 0;
}
 
.nav-item a.selected::after,
.nav-item a:hover::after{
    opacity: 1;

}

/*-------------Redesfooter-------------*/




/*-------------------indicadoresGenerales ------------------*/
 
$parrafo:red;

.ParrafoSomos{
@if ($parrafo == azul) {
    color: blue;
    font-family: 'Lato', sans-serif;

}@else{
color: white;
font-family: 'Lato', sans-serif;

}
}

  



/*----------------------------------Imput Newsletter---------------------------------------*/
.formInput{
background-color: red;
display:flex;
flex-flow: row column;
align-items: center;
height: 50px;}
/*----------------------------------Indicadores----------------------------------------------*/
$color:red;
.ParrafoCard{
    @if ($color == azul) {
        color: blue;
    }@else{
        color: white;
        font-family: 'Lato', sans-serif;
    }
  }
 


  /*--------------------------------lista de footer-----------------------------------------------------*/
 
  ul {
    list-style: none;
    

.listaFooter {
    margin-top: 10px;
    text-align: center;  
    margin-right: 30px;

    a{
        text-decoration: none;
        color: black;
    }

  }
}


/*----------------------------------------HoverMenu------------------------------------------*/
.menuTexto:hover{
    background-color: yellow;
    margin-right: 10px;
    color: white;
}


@media only screen and (max-width:600px){
    .collapse{
        background-color: #393b3d;
    }
.contenedorMain_comunidad__tituloComunidad--secundario{ 
background-color: palegreen;
height: 600px;}
.btnNovedades{
    font-size: 16px;
    padding: 16px 90px;  }
                
    .btnComunidad{
    padding: 6px 20px;  
    border-radius: 20px;}
    .btnDescarga{
    padding: 6px 20px;  
    border-radius: 20px;}
    .btnEventos{
    padding: 6px 20px;  
    border-radius: 20px;
    }   


}

@media only screen and (min-width:601px) and (max-width:1200px){
    .collapse{
        background-color: #393b3d;
    }
.btnNovedades{
font-size: 16px;
padding: 16px 30px;  }
            
.btnComunidad{
padding: 6px 30px;  
border-radius: 20px;}
.btnDescarga{
padding: 6px 30px;  
border-radius: 20px;}
.btnEventos{
padding: 6px 30px;  
border-radius: 20px;
}
}

@media only screen and (min-width:1201px){

.btnNovedades{
font-size: 16px;
padding: 10px 60px;  }
    
.btnComunidad{
padding: 10px 60px;  
border-radius: 20px;}
.btnDescarga{
padding: 10px 60px;  
border-radius: 20px;}
.btnEventos{
padding: 10px 60px;  
border-radius: 20px;
}
       
}