/*-------------------------ENLACES A-------------------------------*/

/*-----------------------BtnPrincipal tablet y escritorio----------------------------*/
$color:red;

a{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 1px rgb(39, 39, 39);
}

.Search:hover{
    background-color: yellow;
}



.contenedorTituloPrincipal__btnPrincipal--azul{ 
margin-top: 20px;
.btnPrincipal {
text-decoration: none;
color: #393b3d;
font-size: 14px;
background-color: yellow;
padding: 10px 60px;  
border-radius: 20px;

}

.btnPrincipal:hover {
background-color: #393b3d;
color: white;
transition: 1s;
}
}

.logo{
    width: 100px;
}

.play {
    width: 100px;
}
.play:hover{
    background-color: yellow;
    border-radius: 50px;
    transition:0.5s;
   }
   

.logoFooter{
    width: 90px;  
}

/*------------------------BTN SECUNDARIO Tablet y escritorio----------------------------*/


.btnSecundarioComunidades{
display: flex;
align-items: center;
justify-content: center;
}

.btnSecundarioNovedades{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
height: 100px;


 }

.btnNovedades{
text-decoration: none;
color: #393b3d;
font-size: 16px;
background-color: #e9e8e8;
border-radius: 20px;

 }

.btnNovedades:hover{
   background-color: yellow; 
   color:#393b3d; 
   transition: 1s;
 }

.btnSecundario{
text-align: center;
display: flex;
align-items: center;
justify-content: center;}



.btnComunidad{
text-decoration: none;
color: white;
border: solid white;
font-size: 16px;
border-style: solid;

}
.btnComunidades{
text-decoration: none;
color:#393b3d ;
background-color: white;
font-size: 16px;
border-radius: 20px;
}

.btnComunidades:hover{
background-color: yellow;
color: #393b3d;
border: none;
transition: 1s;
}

.btnComunidad:hover{
background-color: yellow;
color: #393b3d;
border: none;
transition: 1s;

}


.btnDescarga{
text-decoration: none;
color: white;
font-size: 14px;
border:white 1.5;
border-style: solid;
}

.btnDescarga:hover{
background-color: yellow;
border: yellow;
color: #393b3d;
transition: 1s;
}




.contenedorInput{
margin-top: 15px;
.inputEmail{
border-radius: 10px;
border-style: none;
}
.buttonNews{
padding: 4px 50px;
border-radius: 10px;
border-style: none;
background-color: yellow;
color: #393b3d;
font-weight: bold;
}
}
.buttonNews:hover{
background-color: white;
color:#393b3d ;
transition: 1s;
}

.NewsTitulo{
    color: white;
}

/*-----------------------Registrate-----------------*/
.email{
    border-radius: 10px;
    border-style: none;
  }
  .password{
    border-radius: 10px;
    border-style: none;
  }
  .inputRegistro{
  display: flex;
  flex-flow: column nowrap;
  .inputSubmit{
  margin-top: 20px;
  border-radius: 10px;
  border-style:none;
  background-color: white;
   }
   .inputSubmit:hover{
   background-color: yellow;
   transition: 3s;
     }
  }


/*------navAfter-----*/

.nav-item{
    position: relative;
    margin-right: 25px;

}
.nav-item a::after{
    content: "";
    background-color: white;
    position: absolute;
    left: 0;
    top: 80%;
    width: 100%;
    height: 4px;
    opacity: 0;
}
 
.nav-item a.selected::after,
.nav-item a:hover::after{
    opacity: 1;

}

/*-------------Redesfooter-------------*/




/*-------------------indicadoresGenerales ------------------*/
 
$parrafo:red;

.ParrafoSomos{
@if ($parrafo == azul) {
    color: blue;
    font-family: 'Lato', sans-serif;

}@else{
color: white;
font-family: 'Lato', sans-serif;

}
}

  



//*----------------------------------Imput Newsletter---------------------------------------*/

/*----------------------------------Indicadores----------------------------------------------*/
$color:red;
.ParrafoCard{
    @if ($color == azul) {
        color: blue;
    }@else{
        color: white;
        font-family: 'Lato', sans-serif;
    }
  }
 


  /*--------------------------------lista de footer-----------------------------------------------------*/
 
  ul {
    list-style: none;
    

.listaFooter {
    margin-top: 10px;
    text-align: center;  
    margin-right: 30px;


    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: yellow;
    }

  }
}


/*----------------------------------------HoverMenu------------------------------------------*/
.menuTexto:hover{
    background-color: yellow;
    margin-right: 10px;
    color: white;
}


@media only screen and (max-width:600px){
    .collapse{
        background-color: #393b3d;
    }
.contenedorMain_comunidad__tituloComunidad--secundario{ 

height: 640px;}
.btnNovedades{
font-size: 16px;
padding: 6px 20px;  }

.btnSecundarioComunidad{
margin-top: 20px;
}
      
.btnComunidad{
padding: 6px 20px;  
border-radius: 20px;
}
.btnComunidades{
 padding: 6px 20px;
        }
.btnDescarga{
padding: 4px 20px;  
border-radius: 20px;}

.contenedorInput{
margin-left: 50px;
}
.buttonNews{
margin-top: 10px;
margin-left: 15px;
}   

}

@media only screen and (min-width:601px) and (max-width:1200px){
    .collapse{
        background-color: #393b3d;
    }
.btnNovedades{
font-size: 16px;
padding: 6px 30px;

}
            
.btnSecundarioComunidad{
    margin-top:20px;
    height: 40px;
   
}
.btnComunidad{
padding: 6px 30px;  
border-radius: 20px;
margin-top: 10px;
margin-left: 160px;

}
.btnComunidades{
font-size: 16px;
padding: 6px 30px;
    }
.btnDescarga{
padding: 6px 30px;  
border-radius: 20px;}
.buttonNews{
margin-left: 8px;
}
}

@media only screen and (min-width:1201px){

.btnSecundarioComunidad{
    margin-top: 10px;
}

.btnNovedades{
font-size: 16px;
padding: 7px 60px;  }
    
.btnComunidad{
font-size: 16px;
padding: 7px 60px;
border-radius: 20px;
margin-top: 10px;
margin-left: 160px;
}



.btnComunidades{
text-decoration: none;
font-size: 16px;
padding: 7px 60px;
}
.btnDescarga{
padding: 10px 60px;  
border-radius: 20px;}

.contenedorInput{
margin-left: 30px;
}
.inputEmail{
    padding: 4px 40px;
     }
       
}