
  
  /*-----------------------------QUIENES SOMOS-----------------------------*/

  .contenedorPadre__Header--Somos{ 
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  
}

.contenedorPadre__Header--principal{
 height: 200px;
}



$ancho: 720px;





@for $i from 1 through 4 {
  .casitodos-#{$i} { width:( $ancho/2)  * $i; }
}

.collage{
   background: url(../imagenes/somosComunidad.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   height: 250px;
}



.ParrafoNovedades{
    width:80%;
    background-color: hsla(0, 0%, 100%, 0.507);
    padding: 30px;
    border-radius: 20px;

}

.tituloEventos{
  color: white;
  width: 60%;
}

 
/*$parrafo:red;

.ParrafoNovedades{
@if ($parrafo == azul) {
    color: blue;
}@else{
    color:  black;
}
}
*/
/*---------------------------Descarga-------------------------------*/
.contenedorMainDescarga{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 

.contenedorFormularioDescaga{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(57, 59, 61, 0.575);


  .tituloPrincipalDescarga{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
   
  }
  .containerDescargaTitulo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .parrafoDescarga{
    color: white;
  }
}
}
/*---------------------------NOVEDADES----------------------------------------*/
.contenedorMainNovedades{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
   
    }/*-----------------LLAVE DE ContenedorMainNovedades----------------*/
  
  
   
  
  .conciertos{
    background: url(../imagenes/conciertoEvento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    transition: 1s;
    margin-bottom: 10px;
  
  }
  .conciertos:hover{
    transform: scale(0.9);
    z-index: 2;
    }

  .entrevistas{
    background: url(../imagenes/entrevistaEventos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }
  .entrevistas:hover{
    transform: scale(0.9);
    z-index: 2;
    }
  .livestreaming{
    background: url(../imagenes/estrenosEventos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }
  .livestreaming:hover{
    transform: scale(0.9);
    z-index: 2;
    }

 
  
  $color: hsla(0, 0%, 100%, 0.24);
  $ancho: 710px;
  
  @each $eventos in  conciertos, entrevistas, livestreaming {
    #{$eventos}{ 
  
      background-color: $color ;
      width: $ancho/2;
   
  }

  .mainRegistro{
    background: url(../imagenes/fondoRegistrate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    }
   
    
    .fondoRegistrate{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 70, 70, 0.726);
    transition: 2s;
  
    }
   
    
    .NewsTituloRegistro{
      text-align: center;
     
    }
    
    .contenedorRegistro{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
 
    .contenedorRegistroUsuario{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cuenta {
      color: white;
      text-decoration: none;
    }
    .cuenta:hover{
      color: yellow;
    }

  .containerImgConcierto{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

    .h2eventos{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596);
    }



@media only screen and (min-width:1201px){
  
.contenedorMain_somos--centro{

  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
 
}
  
.casitodos{
  width: 450px;
  height: 250px;
  margin-right: 20px;
  margin-top: 40px;
}
  .ParrafoSomos{
    margin-top: 20px;
  }

.contenedorMainNovedades{
height: 370px;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
width: 100%;
background: -webkit-linear-gradient(to right, white, yellow, #7303c0,#393b3d); 
background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); 
}

.contenedorEventos{
  height:350px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.conciertos{
  height:330px;
}

.entrevistas{
  height:330px;
  margin-left: 15px;
  margin-right: 15px;
}
.livestreaming{
height:330px;
}


/*----------------------descargaApp----------------------------*/


.contenedorMainDescarga{
background: url(../imagenes/NuestraApp.png);
background-position: center;
background-repeat: no-repeat;
height: 500px;
gap: 10px;
margin-top: 40px;; 
}
.tituloDescarga{
width: 60%;
text-align: center;
}

.contenedorFormularioDescaga{
height: 500px;
border-radius: 240px;

}
.mainRegistro{
height: 450px;
width: 100%;
margin-top: 40px;
}
  
.fondoRegistrate{
border-radius: 250px;
height: 450px;
width: 45%;
padding: 20px;
}
  
.NewsTituloRegistro{
font-size: 45px;
margin-top: 40px;
}
  
  .contenedorRegistro{
    height: 250px;
    width: 100%;
  }
  
  .inputRegistro{
  .inputSubmit{
  margin-top: 20px;
    }
  }
  .contenedorRegistroUsuario{
    height: 50px;
    width: 50%;
  }


}

@media only screen and (min-width:601px) and (max-width:1200px){

/*-----------------Quienesomos------------*/

.contenedorMain_somos--centro{
  padding:40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.casitodos{
  width: 350px;
  height: 250px;
 margin-top:30px;
 
}

/*------------------Novedades------------*/
.tituloEventos{
  color: white;
}
.contenedorMainNovedades{
  display: flex;
  height:900px;
  flex-flow: column nowrap;
  background: -webkit-linear-gradient(to right, white, yellow, #7303c0,#393b3d); 
 background: linear-gradient(to right, #ffff00, #ec38bc, #7303c0, #393b3d); 
 
}

.contenedorEventos{
  display: flex;
  flex-flow: column nowrap;
 width: 100%;
  height: 1000px;
  margin-top: 60px;
 
}
.h2eventos{
  width: 60%;
  }

.conciertos{
  height:330px;
  margin-top: 40px;
}

.entrevistas{
  height:330px;
  margin-top: 30px;
}
.livestreaming{
  height:330px;
  margin-top: 30px;
}


/*-----------------DescargaAPP------------*/
.contenedorMainDescarga{
  background: url(../imagenes/NuestraApp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  gap: 10px;
  height: 500px;
 margin-top: 60px;
  }
  .tituloDescarga{
    width: 60%;
    text-align: center;
    }
.contenedorFormularioDescaga{
height: 450px;
width:90%;
border-radius: 200px;

}

/*--------------------------Registro-----------------------*/
.mainRegistro{
height: 450px;
width: 100%;
margin-top: 70px;
}
  
.fondoRegistrate{
border-radius: 250px;
height: 400px;
width: 55%;
padding: 20px;
}
  
.NewsTituloRegistro{
font-size: 35px;
margin-top: 40px;
}
  
  .contenedorRegistro{
    height: 250px;
    width: 100%;
  }
  
  .inputRegistro{
  .inputSubmit{
  margin-top: 20px;
    }
  }
  .contenedorRegistroUsuario{
    height: 50px;
    width: 50%;
  }

}



@media only screen and (max-width:600px){

  .contenedorMain_somos--centro{
    margin-left: 10px;
    margin-right: 10px;
    height: 1100px;
    background-color: palegreen;
    display: flex;
    flex-flow: column nowrap;
  }
  .casitodos{
    height: 250px;
    margin-top:20px;
  }
  .ParrafoSomos{
    margin-top: 30px;
    
  }

/*------------------Novedades------------*/
.contenedorTituloComunidad{

  width: 70%;
  text-align: center;
}


/*-------------------descargaAPP------------------*/

.contenedorMainDescarga{
  background: url(../imagenes/NuestraApp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 240%;
  gap: 10px;
  height: 500px;
  margin-top: 60px;; 
  }
  
  
  .contenedorFormularioDescaga{
  height: 400px;
  border-radius: 250px;

  }
.mainRegistro{
height: 350px;
width: 100%;
margin-top: 70px;
}
  
.fondoRegistrate{
border-radius: 250px;
height:300px;
width: 75%;
padding: 20px;
}
  
.NewsTituloRegistro{
font-size: 20px;
margin-top: 40px;
}
  
  .contenedorRegistro{
    height: 150px;
    width: 100%;
  }
  
  .inputRegistro{
  .inputSubmit{
  margin-top: 20px;
    }
  }
  .contenedorRegistroUsuario{
    height: 50px;
    width: 70%;
    margin-top:10px;
  }
}
.conciertos{
  height:330px;
  margin-top: 40px;
}

.entrevistas{
  height:330px;
  margin-top: 30px;
}
.livestreaming{
  height:330px;
  margin-top: 30px;
}
  
}

/*----------------Registrate ---------------*/
