
  
  /*-----------------------------QUIENES SOMOS-----------------------------*/

  .contenedorPadre__Header--Somos{ 
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

.contenedorPadre__Header--principal{
 height: 200px;
}



$ancho: 720px;





@for $i from 1 through 4 {
  .casitodos-#{$i} { width:( $ancho/2)  * $i; }
}

.collage{
   background: url(../imagenes/equipo02.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   height: 250px;
}



.ParrafoNovedades{
    width:80%;
    background-color: hsla(0, 0%, 100%, 0.507);
    padding: 30px;
    border-radius: 20px;

}

.tituloEventos{
  color: white;
  width: 60%;
}

 
/*$parrafo:red;

.ParrafoNovedades{
@if ($parrafo == azul) {
    color: blue;
}@else{
    color:  black;
}
}
*/
/*---------------------------Descarga-------------------------------*/
.contenedorMainDescarga{
background: url(../imagenes/NuestraApp.png);
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
 margin-top: 40px;

.contenedorFormularioDescaga{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(57, 59, 61, 0.575);


  .tituloPrincipalDescarga{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
   
  }
  .parrafoDescarga{
    color: white;
  }
}
}
/*---------------------------NOVEDADES----------------------------------------*/
.contenedorMainNovedades{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  

    }/*-----------------LLAVE DE ContenedorMainNovedades----------------*/
  
  
   
  
  .conciertos{
    background: url(../imagenes/articuloestación.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .entrevistas{
    background: url(../imagenes/articuloestación.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
   
  }
  .livestreaming{
    background: url(../imagenes/articuloestación.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
 
  
  $color: hsla(0, 0%, 100%, 0.24);
  $ancho: 710px;
  
  @each $eventos in  conciertos, entrevistas, livestreaming {
    #{$eventos}{ 
  
      background-color: $color ;
      width: $ancho/2;
   
  }

  .mainRegistro{
  
    background: url(../imagenes/fondoRegistrate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .fondoRegistrate{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 70, 70, 0.726);
  
    }
    
    .NewsTituloRegistro{
      text-align: center;
     
    }
    
    .contenedorRegistro{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    
    .inputRegistro{
    display: flex;
    flex-flow: column nowrap;
    .inputSubmit{
    margin-top: 20px;
      }
    }
    .contenedorRegistroUsuario{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cuenta {
      color: white;
      text-decoration: none;
    }
    .cuenta:hover{
      color: yellow;
    }

  





@media only screen and (min-width:1201px){
  
.contenedorMain_somos--centro{

  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

}
  
.casitodos{
  width: 450px;
  height: 250px;
  margin-right: 20px;
  margin-top: 40px;
}
  .ParrafoSomos{
    margin-top: 20px;
  }

.contenedorMainNovedades{
height: 380px;

display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
width: 100%;
}

.contenedorEventos{
  height:350px;
  display: flex;
  flex-flow: row nowrap;
}
.conciertos{
  height:330px;
}

.entrevistas{
  height:330px;
  margin-left: 20px;
  margin-right: 20px;
}
.livestreaming{
height:330px;
}

/*----------------------descargaApp----------------------------*/
.contenedorMainDescarga{
height: 400px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.contenedorFormularioDescaga{
width:45%;
border-radius: 250px;
height: 400px;
}
.mainRegistro{
height: 450px;
width: 100%;
margin-top: 40px;
}
  
.fondoRegistrate{
border-radius: 250px;
height: 450px;
width: 45%;
padding: 20px;
}
  
.NewsTituloRegistro{
font-size: 40px;
margin-top: 40px;
}
  
  .contenedorRegistro{
    height: 250px;
    width: 100%;
  }
  
  .inputRegistro{
  .inputSubmit{
  margin-top: 20px;
    }
  }
  .contenedorRegistroUsuario{
    height: 50px;
    width: 50%;
  }


}

@media only screen and (min-width:601px) and (max-width:1200px){

/*-----------------Quienesomos------------*/

.contenedorMain_somos--centro{
  padding:40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.casitodos{
  width: 350px;
  height: 250px;
 margin-top:30px;
 
}

/*------------------Novedades------------*/
.tituloEventos{
  color: white;
}
.contenedorMainNovedades{
  display: flex;
  height:900px;
  flex-flow: column nowrap;
 
}

.contenedorEventos{
  display: flex;
  flex-flow: column nowrap;
  width:70%;
  height: 1000px;
  margin-top: 60px;
 
}

.conciertos{
  height:330px;
}

.entrevistas{
  height:330px;
  margin-top: 30px;
}
.livestreaming{
  height:330px;
  margin-top: 30px;
}

/*-----------------DescargaAPP------------*/
.contenedorMainDescarga{
height: 400px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}


.contenedorFormularioDescaga{
width:45%;
border-radius: 250px;
height:250px;
border-radius: 250px;
}

/*--------------------------Registro-----------------------*/
.mainRegistro{
height: 450px;
width: 100%;
margin-top: 70px;
}
  
.fondoRegistrate{
border-radius: 250px;
height: 400px;
width: 55%;
padding: 20px;
}
  
.NewsTituloRegistro{
font-size: 35px;
margin-top: 40px;
}
  
  .contenedorRegistro{
    height: 250px;
    width: 100%;
  }
  
  .inputRegistro{
  .inputSubmit{
  margin-top: 20px;
    }
  }
  .contenedorRegistroUsuario{
    height: 50px;
    width: 50%;
  }

}



@media only screen and (max-width:600px){

  .contenedorMain_somos--centro{
    margin-left: 10px;
    margin-right: 10px;
    height: 1100px;
    background-color: palegreen;
    display: flex;
    flex-flow: column nowrap;
  }
  .casitodos{
    height: 250px;
    margin-top:20px;
  }
  .ParrafoSomos{
    margin-top: 30px;
    
  }

/*------------------Novedades------------*/
.contenedorTituloComunidad{

  width: 70%;
  text-align: center;
}

.tituloChicoNovedad{

  margin-left: 105px;
}
.tituloEventos{
  color: white;
}

.contenedorMainNovedades{
  display: flex;
  height:1100px;
  flex-flow: column nowrap;
 
}

.contenedorEventos{
  display: flex;
  flex-flow: column nowrap;
  width:70%;
  height: 1100px;
  margin-top: 40px;
  background-color: palegreen;
}

.conciertos{
  height:330px;
}

.entrevistas{
  height:330px;
  margin-top: 30px;
}
.livestreaming{
  height:330px;
  margin-top: 30px;
}

/*-------------------descargaAPP-----------------*/

.contenedorMainDescarga{
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  
  
  .contenedorFormularioDescaga{
  width:65%;
  border-radius: 250px;
  height:200px;
  border-radius: 250px;
  }
.mainRegistro{
height: 350px;
width: 100%;
margin-top: 70px;
}
  
.fondoRegistrate{
border-radius: 250px;
height:300px;
width: 75%;
padding: 20px;
}
  
.NewsTituloRegistro{
font-size: 20px;
margin-top: 40px;
}
  
  .contenedorRegistro{
    height: 150px;
    width: 100%;
  }
  
  .inputRegistro{
  .inputSubmit{
  margin-top: 20px;
    }
  }
  .contenedorRegistroUsuario{
    height: 50px;
    width: 70%;
    margin-top:10px;
  }


  
}

 


  
}

/*----------------Registrate ---------------*/
